/* 
    COLORS
*/

/* White */
$white:  hsl(0, 0%, 100%);

/* Green */
$light-green: rgb(19, 180, 126);
$neon-green: hsl(146, 63%, 63%);

/* Red */
$red: hsl(0, 81.6%, 51%);

/* Black */
$black: hsl(0, 0%, 0%);
$rich-black: hsl(240, 11%, 15%);